In [70]:
import pandas as pd

In [71]:
df1 = pd.read_excel("/Users/zhengyuanrui/Desktop/论文大赛/原始数据.xlsx")

In [72]:
df1.head()

,序号,提交答卷时间,所用时间,来源,来源详情,来自IP,1、你的性别是,2、你的年级是,3、你来自,4、您所在的学校是,...,24、我擅长发现新的方法去解决问题。,25、我经常寻找机会改善学习或工作的方法与流程,26、我经常尝试采用新的方法解决学习或工作中出现的问题。,27、我经常会从不同的角度来思考问题。,28、我不会放过任何一个了解和发现问题的机会。,29、我经常建议在学校组织或班级中推行新的学习和工作方法。,30、我经常冒险去支持新的想法或创意。,31、我会经常给同学们介绍一些新的学习或工作方法。,32、我经常检验新的学习和工作方法的有效性。,总分
0,1,2021/3/23 8:23:24,57秒,微信,NaN,117.136.84.198(云南-昆明),1,2,1,2,...,6,5,5,4,5,5,5,4,5,122
1,2,2021/3/23 8:37:29,134秒,微信,NaN,221.192.178.123(河北-沧州),1,4,1,2,...,5,4,4,4,3,3,4,3,4,102
2,3,2021/3/23 9:28:19,102秒,微信,NaN,117.136.84.17(云南-昆明),2,4,2,1,...,4,4,4,4,4,2,2,2,5,97
3,4,2021/3/23 9:49:03,169秒,微信,NaN,223.104.240.157(云南-未知),2,2,1,2,...,5,4,4,3,3,4,4,4,4,103
4,5,2021/3/23 9:54:10,140秒,微信,NaN,117.136.72.68(云南-昆明),2,2,1,2,...,6,4,4,4,4,3,3,4,4,84

In [73]:
df1.rename(columns={'序号': 'ID', '提交答卷时间':'time', '所用时间': 'use_time','来源':'source',
                  '来源详情':'detail_source','来自IP':'IP','1、你的性别是':'gender', '2、你的年级是':'grade',
                   '3、你来自':'residence', '4、您所在的学校是':'school'}, inplace=True)

In [74]:
df1

,ID,time,use_time,source,detail_source,IP,gender,grade,residence,school,...,24、我擅长发现新的方法去解决问题。,25、我经常寻找机会改善学习或工作的方法与流程,26、我经常尝试采用新的方法解决学习或工作中出现的问题。,27、我经常会从不同的角度来思考问题。,28、我不会放过任何一个了解和发现问题的机会。,29、我经常建议在学校组织或班级中推行新的学习和工作方法。,30、我经常冒险去支持新的想法或创意。,31、我会经常给同学们介绍一些新的学习或工作方法。,32、我经常检验新的学习和工作方法的有效性。,总分
0,1,2021/3/23 8:23:24,57秒,微信,NaN,117.136.84.198(云南-昆明),1,2,1,2,...,6,5,5,4,5,5,5,4,5,122
1,2,2021/3/23 8:37:29,134秒,微信,NaN,221.192.178.123(河北-沧州),1,4,1,2,...,5,4,4,4,3,3,4,3,4,102
2,3,2021/3/23 9:28:19,102秒,微信,NaN,117.136.84.17(云南-昆明),2,4,2,1,...,4,4,4,4,4,2,2,2,5,97
3,4,2021/3/23 9:49:03,169秒,微信,NaN,223.104.240.157(云南-未知),2,2,1,2,...,5,4,4,3,3,4,4,4,4,103
4,5,2021/3/23 9:54:10,140秒,微信,NaN,117.136.72.68(云南-昆明),2,2,1,2,...,6,4,4,4,4,3,3,4,4,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,523,2021/3/26 19:44:48,258秒,微信,NaN,117.136.72.12(云南-昆明),2,4,2,2,...,4,4,4,4,4,4,2,3,3,95
523,524,2021/3/26 20:01:30,44秒,微信,NaN,111.206.214.44(北京-北京),2,4,1,1,...,7,5,5,5,5,5,5,5,5,121
524,525,2021/3/27 10:06:41,113秒,微信,NaN,117.136.0.144(北京-北京),2,1,1,1,...,4,4,3,3,3,3,2,2,2,88
525,526,2021/3/27 11:19:26,83秒,微信,NaN,117.136.45.145(江苏-南京),2,4,2,1,...,6,5,5,5,4,3,2,5,5,113
526,527,2021/3/27 12:59:22,342秒,微信,NaN,183.8.144.39(广东-梅州),2,4,1,1,...,7,5,5,5,5,3,3,3,3,108

In [75]:
df1.columns = ['id', 'time', 'use_time', 'source','detail_source',
              'ip','gender','grade','residence','school','sns1','sns2',
              'sns3','sns4','sns5','sns6','ses1','ses2','ses3','ses4',
              'ses5','ses6','ses7','ses8','ses9','ses10','cses1','cses2',
              'cses3','cses4','eib1','eib2','eib3','eib4','eib5','eib6',
              'eib7','eib8','total']

In [76]:
df1.head()

,id,time,use_time,source,detail_source,ip,gender,grade,residence,school,...,cses4,eib1,eib2,eib3,eib4,eib5,eib6,eib7,eib8,total
0,1,2021/3/23 8:23:24,57秒,微信,NaN,117.136.84.198(云南-昆明),1,2,1,2,...,6,5,5,4,5,5,5,4,5,122
1,2,2021/3/23 8:37:29,134秒,微信,NaN,221.192.178.123(河北-沧州),1,4,1,2,...,5,4,4,4,3,3,4,3,4,102
2,3,2021/3/23 9:28:19,102秒,微信,NaN,117.136.84.17(云南-昆明),2,4,2,1,...,4,4,4,4,4,2,2,2,5,97
3,4,2021/3/23 9:49:03,169秒,微信,NaN,223.104.240.157(云南-未知),2,2,1,2,...,5,4,4,3,3,4,4,4,4,103
4,5,2021/3/23 9:54:10,140秒,微信,NaN,117.136.72.68(云南-昆明),2,2,1,2,...,6,4,4,4,4,3,3,4,4,84

In [77]:
df2 = df1[["id",'gender','grade','school','sns1','sns2',
              'sns3','sns4','sns5','sns6','ses1','ses2','ses3','ses4',
              'ses5','ses6','ses7','ses8','ses9','ses10','cses1','cses2',
              'cses3','cses4','eib1','eib2','eib3','eib4','eib5','eib6',
              'eib7','eib8']]

In [78]:
df2.head()

,id,gender,grade,school,sns1,sns2,sns3,sns4,sns5,sns6,...,cses3,cses4,eib1,eib2,eib3,eib4,eib5,eib6,eib7,eib8
0,1,1,2,2,5,4,5,4,5,5,...,7,6,5,5,4,5,5,5,4,5
1,2,1,4,2,5,4,5,3,4,2,...,5,5,4,4,4,3,3,4,3,4
2,3,2,4,1,5,4,5,4,2,5,...,5,4,4,4,4,4,2,2,2,5
3,4,2,2,2,4,4,4,4,4,3,...,5,5,4,4,3,3,4,4,4,4
4,5,2,2,2,2,2,1,1,2,1,...,5,6,4,4,4,4,3,3,4,4